<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <center>

           <h1>WELCOME {{admin_key}} TO ADMIN's DASHBOARD</h1>
           <a href="viewusersrecords" style="color:#000;">CLICK HERE FOR SEE ALL RECORDS  OF USERS</a><br><br>
           <a href="ownerrecords" style="color:#000;">CLICK HERE FOR SEE ALL RECORDS OF PROPERTY OWNER</a>
           <br><br>
           <a href="admin_logout"><button class="btn"><i class="fas fa-sign-out-alt"></i>&nbsp;LogOut</button></a>

   </center>
</body>
</html>