<html>
<head>
	<title></title>
	<link rel="shortcut icon" href="cit1.ico">
	<link rel="stylesheet" type="text/css" href="eroomrent_home_page_css.css">
	<!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"-->
</head>
<body>
	<!--img src="worldmap.jpg" height="120%"-->
	<div class="container">
		<div class="box">
			<div class="imgbox" height="200px">
				<img src="create_acc.png">
			</div>
			<div class="details">
				<h2>First Register with us and fill your information</h2>
			</div>
		</div>
		<div class="box"></div>
		<div class="box"></div>
	</div>
</body>