<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="shortcut icon" href="cit1.ico">
	<link rel="stylesheet" type="text/css" href="g_css.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
	<!--div class="mar"><marquee><img src="samgsung.jpg"><img src="samgsung.jpg"></marquee></div-->
	<div class="back">
		<a href="main home.php" class="bbtn">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</a>
	</div>
	<div class="gallery">
		<div class="box">
			<div class="imgbox">
				<img src="java.png">
			</div>
			<div class="write">
				<div class="content">
					<h2>JAVA</h2>
					<p><a href="https://www.flipkart.com/redmi-note-5-pro-black-64-gb/p/itmf2fc3xgmxnhpx" target="_blank">
						SEE PRICE IN FLIPKART.
					</a><br><br>
					<a href="https://www.amazon.in/Mi-Redmi-Note-Pro-Gold/dp/B07D856BVR" target="_blank">SEE PRICE IN AMAZON.</a></p>
				</div>
			</div>
		</div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\s9.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h2>SAMSUNG GALAXY S9</h2>
					<p><a href="https://www.flipkart.com/samsung-galaxy-s9-midnight-black-64-gb/p/itmf33a69rpszgzn" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="https://www.amazon.in/Samsung-Galaxy-S9-Midnight-Black/dp/B079YWSLB9" target="_blank">SEE PRICE IN AMAZON.</a></p>
				</div>
			</div></div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\pixel3.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h2>GOOGLE PIXEL 3(128GB)</h2>
					<p><a href="https://www.flipkart.com/google-pixel-3-clearly-white-128-gb/p/itmfbuyqxkruzg7j?pid=MOBF9GAPHDGTVCKR&srno=s_1_1&otracker=AS_Query_OrganicAutoSuggest_2_6&lid=LSTMOBF9GAPHDGTVCKRY5WUVB&fm=SEARCH&iid=beb99db0-14e7-4458-882a-d6ed00952c48.MOBF9GAPHDGTVCKR.SEARCH&ppt=ProductPage&ppn=ProductPage&ssid=muedmjlcrk0000001549372546228&qH=a5380b7477493d77" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="https://www.amazon.in/Google-Pixel-Clearly-White-Storage/dp/B07MMFL973/ref=sr_1_6?s=electronics&ie=UTF8&qid=1549372612&sr=1-6&keywords=google+pixel+3" target="_blank">SEE PRICE IN AMAZON.</a></p>
				</div>
			</div></div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\i8.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h2>APPLE I-Phone 8(64GB)</h2>
					<p><a href="https://www.flipkart.com/apple-iphone-8-product-red-red-64-gb/p/itmfd9j8fwqxsbkp?pid=MOBF46H3HGWSFGGC&srno=s_1_1&otracker=search&lid=LSTMOBF46H3HGWSFGGCJFSRCX&fm=SEARCH&iid=06fd301e-699a-480a-9d5b-f43a1615508d.MOBF46H3HGWSFGGC.SEARCH&ppt=Homepage&ppn=Homepage&ssid=2j5vlr2rg00000001549372717363&qH=5c7f1193fafe3ba7" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="#" target="_blank">SEE PRICE IN AMAZON.</a></p>
				</div>
			</div></div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\ix.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h2>APPLE I-phone x(64GB)</h2>
					<p><a href="https://www.flipkart.com/apple-iphone-x-silver-64-gb/p/itmexrgvze5as67e?pid=MOBEXRGVF8NHMGXJ&srno=s_1_1&otracker=search&lid=LSTMOBEXRGVF8NHMGXJVDEEP3&fm=SEARCH&iid=f2f82365-b2a2-44af-a2a3-161c752812de.MOBEXRGVF8NHMGXJ.SEARCH&ppt=SearchPage&ppn=Search&ssid=xb3cwo57b40000001549372754376&qH=882a0465d260983a" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="#" target="_blank">SEE PRICE IN AMAZON.</a></p>
				</div>
			</div></div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\op6t.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h2>ONEPLUS 6T(128GB)</h2>
					<p><a href="#" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="https://www.amazon.in/OnePlus-Midnight-Black-128GB-Storage/dp/B07DJHY82F/ref=sr_1_1?s=electronics&ie=UTF8&qid=1549372762&sr=1-1&keywords=iphone+x" target="_blank">SEE PRICE IN AMAZON.</a></p>
				</div>
			</div></div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\op5t.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h2>ONEPLUS 5T(64GB)</h2>
					<p><a href="#" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="https://www.amazon.in/OnePlus-Midnight-Black-64GB-Storage/dp/B0756ZFXVB" target="_blank">SEE PRICE IN AMAZONE.</a></p>
				</div>
			</div></div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\mi_note4.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h2>XIAOMI REDMI NOTE 4</h2>
					<p><a href="https://www.flipkart.com/redmi-note-4-black-64-gb/p/itmeqe48766xqzb7?pid=MOBEQ98TABTWXGTD&srno=b_1_1&otracker=browse&lid=LSTMOBEQ98TABTWXGTDACUV7N&fm=organic&iid=deadda71-1ac7-4025-8b7d-a1ed3a459f25.MOBEQ98TABTWXGTD.SEARCH" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="https://www.amazon.in/Redmi-Note-Grey-64GB-Storage/dp/B078BN2H39" target="_blank">SEE PRICE IN AMAZON.</a></p>
				</div>
			</div></div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\mi_note3.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h2>XIAOMI REDMI NOTE 3</h2>
					<p><a href="https://www.flipkart.com/redmi-note-4-black-64-gb/p/itmeqe48766xqzb7?pid=MOBEQ98TABTWXGTD&srno=s_1_1&otracker=search&lid=LSTMOBEQ98TABTWXGTDACUV7N&fm=SEARCH&iid=df47bb9f-34d9-4355-9031-d9760bf0bc52.MOBEQ98TABTWXGTD.SEARCH&ppt=ProductPage&ppn=ProductPage&ssid=8iwrw4yjvk0000001549390986245&qH=0ebb2e8c32c9f552" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="https://www.amazon.in/Xiaomi-Redmi-Note-Gold-32GB/dp/B01C2T6IDY" target="_blank">SEE PRICE IN AMAZONE.</a></p>
				</div>
			</div></div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\i6.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h1>APPLE I-phone 6</h1>
					<p><a href="https://www.flipkart.com/apple-iphone-6-gold-32-gb/p/itmewxhuufbzchrn?pid=MOBEWXHUSBXVJ7NZ&srno=s_1_1&otracker=search&lid=LSTMOBEWXHUSBXVJ7NZVRFXNL&fm=SEARCH&iid=a48a3cbd-6244-468d-bd29-d68d6388f69f.MOBEWXHUSBXVJ7NZ.SEARCH&ppt=SearchPage&ppn=Search&ssid=giyhdg2br40000001549374678670&qH=c5986779727a5087" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="https://www.amazon.in/Apple-iPhone-Gold-32GB-Storage/dp/B0725RBY9V/ref=sr_1_1?s=electronics&ie=UTF8&qid=1549374668&sr=1-1&keywords=iphone+6" target="_blank">SEE PRICE IN AMAZON.</a></p>
				</div>
			</div></div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\s8 edge.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h2>SAMSUNG S8 EDGE</h2>
					<p><a href="https://www.flipkart.com/samsung-galaxy-s7-edge-black-onyx-32-gb/p/itmeuyd7ubc3aztj?pid=MOBEGFZPMZTYFHAD&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_0_4&lid=LSTMOBEGFZPMZTYFHADDPALKX&fm=SEARCH&iid=44d7c8bc-5b3f-47d0-abdb-dd3c58b3332b.MOBEGFZPMZTYFHAD.SEARCH&ppt=ProductPage&ppn=ProductPage&ssid=lmpx58uwds0000001549374597762&qH=32d68a5acf040b86" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="https://www.amazon.in/Samsung-Galaxy-SM-G950FZKDINS-Midnight-Black/dp/B074C2X45Q" target="_blank">SEE PRICE IN AMAZON.</a></p>
				</div>
			</div></div>
		<div class="box"><div class="imgbox">
				<img src="C:\xampp\htdocs\new\gallery\mi_3s.jpg">
			</div>
			<div class="write">
				<div class="content">
					<h2>XIAOMI REDMI 3s PRIME</h2>
					<p><a href="https://www.flipkart.com/redmi-3s-prime-dark-grey-32-gb/p/itmehbejjz5zxzsh?pid=MOBEKWZYZHUXJFR6&srno=s_1_1&otracker=search&lid=LSTMOBEKWZYZHUXJFR6IZRZQH&fm=SEARCH&iid=52d6ed98-9dd1-49bd-b6ec-76751d6325e4.MOBEKWZYZHUXJFR6.SEARCH&ppt=SearchPage&ppn=Search&ssid=hu2ve8j95s0000001549374403346&qH=21be127dcb191e39" target="_blank">SEE PRICE IN FLIPKART.</a>
					<br><br>
					<a href="https://www.amazon.in/Xiaomi-Redmi-3S-Prime-Gold/dp/B01LZW92W0" target="_blank">SEE PRICE IN AMAZON.</a></p>
				</div>
			</div></div>
	</div>
</body>
</html>